daan.ui.main/Service References/SendOrdersToLis/CenterService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orders" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendRequestInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPesExceptionLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPesExceptionLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectPesExceptionLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SendRequestInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SendRequestInfo" />
  </wsdl:message>
  <wsdl:message name="SendRequestInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SendRequestInfoResponse" />
  </wsdl:message>
  <wsdl:message name="QueryResultSoapIn">
    <wsdl:part name="parameters" element="tns:QueryResult" />
  </wsdl:message>
  <wsdl:message name="QueryResultSoapOut">
    <wsdl:part name="parameters" element="tns:QueryResultResponse" />
  </wsdl:message>
  <wsdl:message name="SelectPesExceptionLstSoapIn">
    <wsdl:part name="parameters" element="tns:SelectPesExceptionLst" />
  </wsdl:message>
  <wsdl:message name="SelectPesExceptionLstSoapOut">
    <wsdl:part name="parameters" element="tns:SelectPesExceptionLstResponse" />
  </wsdl:message>
  <wsdl:portType name="CenterServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">登录验证</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRequestInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送订单</wsdl:documentation>
      <wsdl:input message="tns:SendRequestInfoSoapIn" />
      <wsdl:output message="tns:SendRequestInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">结果查询</wsdl:documentation>
      <wsdl:input message="tns:QueryResultSoapIn" />
      <wsdl:output message="tns:QueryResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPesExceptionLst">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">体检获取LIS取消审核与退单记录</wsdl:documentation>
      <wsdl:input message="tns:SelectPesExceptionLstSoapIn" />
      <wsdl:output message="tns:SelectPesExceptionLstSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CenterServiceSoap" type="tns:CenterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestInfo">
      <soap:operation soapAction="http://tempuri.org/SendRequestInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryResult">
      <soap:operation soapAction="http://tempuri.org/QueryResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPesExceptionLst">
      <soap:operation soapAction="http://tempuri.org/SelectPesExceptionLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CenterServiceSoap12" type="tns:CenterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestInfo">
      <soap12:operation soapAction="http://tempuri.org/SendRequestInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryResult">
      <soap12:operation soapAction="http://tempuri.org/QueryResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPesExceptionLst">
      <soap12:operation soapAction="http://tempuri.org/SelectPesExceptionLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CenterService">
    <wsdl:port name="CenterServiceSoap" binding="tns:CenterServiceSoap">
      <soap:address location="http://localhost:3417/CenterService.asmx" />
    </wsdl:port>
    <wsdl:port name="CenterServiceSoap12" binding="tns:CenterServiceSoap12">
      <soap12:address location="http://localhost:3417/CenterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>